
# Created by https://www.toptal.com/developers/gitignore/api/macos,python,django,vagrant,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,python,django,vagrant,visualstudiocode

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
application_default_credentials.json
.env